# Introduction

<center><img src="https://i.imgur.com/9hLRsjZ.jpg" height=400></center>

This dataset was scraped from [nextspaceflight.com](https://nextspaceflight.com/launches/past/?page=1) and includes all the space missions since the beginning of Space Race between the USA and the Soviet Union in 1957!

### Install Package with Country Codes

In [1]:
%pip install iso3166

Collecting iso3166
  Downloading iso3166-2.1.1-py3-none-any.whl.metadata (6.6 kB)
Downloading iso3166-2.1.1-py3-none-any.whl (9.8 kB)
Installing collected packages: iso3166
Successfully installed iso3166-2.1.1
Note: you may need to restart the kernel to use updated packages.

### Import Statements

In [ ]:
import numpy as np
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

from iso3166 import countries
from datetime import datetime, timedelta

### Notebook Presentation

In [4]:
pd.options.display.float_format = '{:,.2f}'.format

### Load the Data

In [5]:
df_data = pd.read_csv('mission_launches.csv')

# Preliminary Data Exploration

* What is the shape of `df_data`? 
* How many rows and columns does it have?
* What are the column names?
* Are there any NaN values or duplicates?

In [6]:
df_data.shape

(4324, 9)

In [7]:
df_data.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Organisation', 'Location', 'Date',
       'Detail', 'Rocket_Status', 'Price', 'Mission_Status'],
      dtype='object')

## Data Cleaning - Check for Missing Values and Duplicates

Consider removing columns containing junk data.

In [12]:
print(f"Is there any NaN Values? {df_data.isna().values.any()}")

Is there any NaN Values? True

In [ ]:
print(f"Is there any duplicated Values? {df_data.duplicated().values.any()}")

In [ ]:
df_data = df_data.drop(["Unnamed: 0.1", "Unnamed: 0"], axis=1)

## Descriptive Statistics

In [79]:
df_data.head()

,Organisation,Location,Date,Detail,Rocket_Status,Price,Mission_Status
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success

In [80]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Organisation    4324 non-null   object
 1   Location        4324 non-null   object
 2   Date            4324 non-null   object
 3   Detail          4324 non-null   object
 4   Rocket_Status   4324 non-null   object
 5   Price           964 non-null    object
 6   Mission_Status  4324 non-null   object
dtypes: object(7)
memory usage: 236.6+ KB

# Number of Launches per Company

Create a chart that shows the number of space mission launches by organisation.

In [82]:
df_data.groupby("Organisation").count()

                  Location  Date  Detail  Rocket_Status  Price  Mission_Status
Organisation
AEB                      3     3       3              3      0               3
AMBA                     8     8       8              8      0               8
ASI                      9     9       9              9      0               9
Arianespace            279   279     279            279     96             279
Arm??e de l'Air          4     4       4              4      0               4
Blue Origin             12    12      12             12      0              12
Boeing                 136   136     136            136      7             136
CASC                   251   251     251            251    158             251
CASIC                    5     5       5              5      0               5
CECLES                   4     4       4              4      0               4
CNES                     8     8       8              8      0               8
Douglas                  1     1       1              1      0               1
EER                      1     1       1              1      1               1
ESA                     13    13      13             13      1              13
Eurockot                13    13      13             13     13              13
ExPace                  10    10      10             10      1              10
Exos                     4     4       4              4      0               4
General Dynamics       251   251     251            251      0             251
IAI                     11    11      11             11      0              11
ILS                     46    46      46             46     13              46
IRGC                     1     1       1              1      0               1
ISA                     13    13      13             13      0              13
ISAS                    30    30      30             30      0              30
ISRO                    76    76      76             76     67              76
JAXA                     7     7       7              7      3               7
KARI                     3     3       3              3      0               3
KCST                     5     5       5              5      0               5
Khrunichev               1     1       1              1      0               1
Kosmotras               22    22      22             22     22              22
Land Launch              7     7       7              7      0               7
Landspace                1     1       1              1      0               1
Lockheed                79    79      79             79      8              79
MHI                     84    84      84             84     37              84
MITT                     7     7       7              7      0               7
Martin Marietta        114   114     114            114      9             114
NASA                   203   203     203            203    149             203
Northrop                83    83      83             83     83              83
OKB-586                  2     2       2              2      0               2
OneSpace                 1     1       1              1      0               1
RAE                      2     2       2              2      0               2
RVSN USSR             1777  1777    1777           1777      2            1777
Rocket Lab              13    13      13             13     13              13
Roscosmos               55    55      55             55     23              55
SRC                      3     3       3              3      0               3
Sandia                   1     1       1              1      1               1
Sea Launch              36    36      36             36      0              36
SpaceX                 100   100     100            100     99             100
Starsem                  1     1       1              1      0               1
ULA                    140   140     140            140     98             140
US Air Force           161   161     161            161     26             161
US Navy                 17    17      17             17      0              17
UT                       5     5       5              5      0               5
VKS RF                 201   201     201            201     33             201
Virgin Orbit             1     1       1              1      1               1
Yuzhmash                 2     2       2              2      0               2
i-Space                  1     1       1              1      0               1

# Number of Active versus Retired Rockets

How many rockets are active compared to those that are decomissioned?

# Distribution of Mission Status

How many missions were successful?
How many missions failed?

# How Expensive are the Launches? 

Create a histogram and visualise the distribution. The price column is given in USD millions (careful of missing values).

# Use a Choropleth Map to Show the Number of Launches by Country

* Create a choropleth map using [the plotly documentation](https://plotly.com/python/choropleth-maps/)
* Experiment with [plotly's available colours](https://plotly.com/python/builtin-colorscales/). I quite like the sequential colour `matter` on this map. 
* You'll need to extract a `country` feature as well as change the country names that no longer exist.

Wrangle the Country Names

You'll need to use a 3 letter country code for each country. You might have to change some country names.

* Russia is the Russian Federation
* New Mexico should be USA
* Yellow Sea refers to China
* Shahrud Missile Test Site should be Iran
* Pacific Missile Range Facility should be USA
* Barents Sea should be Russian Federation
* Gran Canaria should be USA


You can use the iso3166 package to convert the country names to Alpha3 format.

# Use a Choropleth Map to Show the Number of Failures by Country

# Create a Plotly Sunburst Chart of the countries, organisations, and mission status.

# Analyse the Total Amount of Money Spent by Organisation on Space Missions

# Analyse the Amount of Money Spent by Organisation per Launch

# Chart the Number of Launches per Year

# Chart the Number of Launches Month-on-Month until the Present

Which month has seen the highest number of launches in all time? Superimpose a rolling average on the month on month time series chart.

# Launches per Month: Which months are most popular and least popular for launches?

Some months have better weather than others. Which time of year seems to be best for space missions?

# How has the Launch Price varied Over Time? 

Create a line chart that shows the average price of rocket launches over time.

# Chart the Number of Launches over Time by the Top 10 Organisations. 

How has the dominance of launches changed over time between the different players?

# Cold War Space Race: USA vs USSR

The cold war lasted from the start of the dataset up until 1991.

## Create a Plotly Pie Chart comparing the total number of launches of the USSR and the USA

Hint: Remember to include former Soviet Republics like Kazakhstan when analysing the total number of launches.

## Create a Chart that Shows the Total Number of Launches Year-On-Year by the Two Superpowers

## Chart the Total Number of Mission Failures Year on Year.

## Chart the Percentage of Failures over Time

Did failures go up or down over time? Did the countries get better at minimising risk and improving their chances of success over time?

# For Every Year Show which Country was in the Lead in terms of Total Number of Launches up to and including including 2020)

Do the results change if we only look at the number of successful launches?

# Create a Year-on-Year Chart Showing the Organisation Doing the Most Number of Launches

Which organisation was dominant in the 1970s and 1980s? Which organisation was dominant in 2018, 2019 and 2020?